commands:
  01_create_swap:
    command: |
      if [ ! -f /swapfile ]; then
        fallocate -l 1G /swapfile || dd if=/dev/zero of=/swapfile bs=1M count=1024
        chmod 600 /swapfile
        mkswap /swapfile
        swapon /swapfile
      fi
    ignoreErrors: false

option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 900